.nav-page{
    /* overflow: hidden;
    position: fixed; /*Set the navbar to fixed position */
    /*top: 0; */
    height: 30px;
    /* width: 100%; */
    background-color: rgba(181, 0, 0, 0.809);
    padding: 5px;
    display: block;
    justify-content: space-between;
    border-bottom: solid black;
    border-top: solid black;
    
}

.buttons-private-right{
    float: right;
}

span{
    font-weight:600 ;
    
}


/* button{
    width: 90px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    color: red;
 } */

