label{
    color:crimson;
    /*text-shadow: 1px 1px 1px red;*/
    font-family: monospace;
    font-size: 20px;
}

.addCourse-Inputs{
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 20px;
}