.page-admin{
    display:flex;
    width: 100%;
    min-height: 92vh;
    background-color: white;
    margin: 0;
    padding: 0;
    margin-top: 43px;
}
.container-list{
    border: 10px;
    border-color: black;
}

.page-admin aside{
    width: 30%;
    height: auto;
    background-color: white;    
    border-right: solid rgba(181, 0, 0, 0.809);

}
aside h1{
    color: black;
    font-weight: 500;
}
.main-admin{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    
}
.Menu{
    display: flex;
    flex-direction: column;
    align-items: center;/*coloca los elementos de este container en el centro de la pantalla del eje x*/
    
}
#img-votingPhoto {

    width: 300px;
    height: 200px;
    border-radius: 30px;

}
#img-aside-Photo{
    width: 200px;
    height: 150px;
    border-radius: 30px;
}
