.button-regular{
    width: 90px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    color: red;
    cursor:pointer;
}

.loginButton, .registerButton{
    width: 20%;
    height: 30px;
    color: white;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    cursor:pointer;
}
.admin-main-buttons{
    width: 300px;
    height: 60px;
    color: white;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    cursor:pointer;
    font-size: 20px;
}
.admin-addCourseButton{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border-color: white;
    background-color: black;
    cursor:pointer;
}
.buttonStudent-Course{
    width: 500px;
    height: 40px;
    font-size: 20px;
    color: black;
    border-radius: 10px;
    border-color: #b41e1e;
    background-color: white;
    font-weight:bold;
    white-space:pre;
    cursor:pointer;
}
.student-buttonsDates{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: #a31c1c;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: black;
    font-weight:600;
    cursor:pointer;
}
.cancel-vote{
    margin-left: 15rem;
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: #ff1c1cb0;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: black;
    font-weight:400;
    cursor:pointer;
}
.confirm-vote{
    margin-left: 5rem;
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    border-color: #ffffff;
    background-color: black;
    font-weight:400;
    cursor:pointer;
}

.admin-addedCoursesButtons{
    width: 200px;
    height: 40px;
    font-size: 18px;
    color: black;
    border: solid;
    border-radius: 25px;
    border-color: black;
    background-color: wheat;
    font-weight:400;
    cursor:pointer;
    white-space:pre;

}

