.nav-page-User{
    /* overflow: hidden;    */
    position: fixed; /*Set the navbar to fixed position */
    top: 0;
    height: 35px;
    width: 100%;
    background-color: rgb(26, 92, 163);
    padding: 5px;
    /* display: block; */
    justify-content: space-between;
    /* border-bottom: solid  gainsboro; */
}

.buttons-private-right{
    float: right;
    color: gainsboro;
}

span{
    font-weight:600 ;
}

.nav-page-User img{
    width: 40px;
    height: 39px;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.buttons-private-left{
    display: flex;
}

