.titleLabel{
    /*podemos hacer que un label o mas esten centrados en medio de la pantalla de 2 formas
    la primera: poniendolos dentro de un container como un <div></div> y asignandole una clase al div con el estilo "text-align: center;" para cntrarlo

.titleContainer{
    color: blueviolet;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
    la segunda: poniendo a todos los tags labelen una clase comun, poniendo el codigo sigiente: 

    */
    color: rgba(255, 29, 29, 0.692);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Basic';
}